*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.navcls{
    display: flex;
    
    justify-content: space-between;
    background-color: beige;
    align-items: center;
    padding: 16px 120px 16px 120px;
    flex-direction: row;

}
.navlogo img{
    height: 60px;
    width: 140px;
}
.navlist{
    display: flex;
    list-style-type: none;
    gap: 20px; 
}
.navlist a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.815);
}
.btn{
    width: 160px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 16px 12px 16px;
    border-radius: 5px;
   color: white;
   border:none;
   cursor: pointer;

}
 


.btn:hover{
    
    color: black;
}

/* hero-section */
.hero{
   border: 2px solid black;
   height: 600px;;
   width:1600;;
   background: url(./assets/hero-bg.png);
   background-repeat: no-repeat;
   flex-direction: column;
   align-items: center;
   display: flex;
   
}
.herobtn1{
    margin-top: 100px;
    height: 20px;
    width: 180px;
    text-align: center;
    
}
.herobtn1  button{
    color: rgb(46, 169, 65);
    font-size: 14px;
   padding:10px 5px 5px 3px;
   border-radius:5px;
   border:none;
   font-weight: 500px;
   background-color:white;
   cursor: pointer;
}
.herobtn1 button:hover{
    color: black;
    background-color:lavender;
}
 
.herotext{
    margin-top: 50px;
}
.herobtn2{
    display: flex;
    margin-top: 25px;
    gap: 10px;
} 
.kkll img{
    height: 13px;
    width: 15px;
    background:none;

}
.kkll :hover{
    background-color: azure;
}
.llkk{
    background: none;
}
.llkk  button:hover{
    background-color: black;
    color:rgb(156, 149, 149);
}
.thirdwork{
     display: flex;
     flex-direction: column;
     margin-top: 50px;
     margin-left: 200px;
     margin-right: 50px;
     text-align: center;
}
.card{
    display: flex;
    gap: 20px;
    margin-top: 60px;
    margin-right: 50px;
}
.class-contain{
    padding: 24px;
    border-radius: 20px;
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.674);

}
.card :hover{
    background-color: bisque;
}
.frame{
    display: flex;
    gap: 20px;
    margin-top: 59px;
    align-items: center;
}
.lastbox{
    margin-top: 50px;
    align-items: center;
    display: flex;
}
.childlastbox{
    height: 370px;
    width: 900px;
    background-color: rgba(255, 241, 224, 0.852);
    margin-left: 220px;
    text-align: center;
   padding-top: 30px;

}
.childlastbox button{
    background-color: green;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 12px 10px 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.childlastbox button:hover{
    background-color: azure;
    color: black;
}
.childlastbox button img{
width: 15.63px;
height: 13.13px;
background-color: green;
 }
 
 .lastitem{
    height: 350px;
    width: 1600;
    background-color: rgb(6, 6, 45);
    margin-top: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 690px;
 }
 .final p{
    text-align: center;
    font-size: 15px;
     

 }
 .lastdiv{
    background-color: rgb(6, 6, 45);color: white; 
    height: 80px;
 }
